.container_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#boobie {
    position: absolute;
    width: 90%;
    z-index: -1;
}

.datum_heute {
    text-align: center;
}

.container_medikamente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25vw;
}

.medikament {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.details_medikament {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 2vw;
}

#medi2 {
    margin-top: 6vw;
}


.uhrzeit_feld {
    background-color: #FE7593;
    border-radius: 8vw;
    /* voll abgerundet (oval) */
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1vw;
    width: 70%;
}

.uhrzeit {
    color: black;
    font-size: 15vw;
    font-family: sans-serif;
    text-align: center;

}


@media (min-width: 1024px) {
    .container-wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

}