* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8D6E7;
}

h1 {
    font-size: 20vw;
    text-align: center;
    color: #EB3D01;
}

h2 {
    font-size: 10vw;
    text-align: center;
    color: #EB3D01;
}

h3 {
    font-size: 6vw;
    text-align: center;
    color: #EB3D01;
}

p {
    font-size: 5vw;
    text-align: center;
    color: #EB3D01;
}