    /* SCHRIFTEN INTEGRATION */

    @font-face {
        font-family: 'workSans';
        src: url('../schriften/workSans-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'workSans';
        src: url('../schriften/workSans-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'workSans';
        src: url('../schriften/workSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'workSans';
        src: url('../schriften/workSans-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'workSans';
        src: url('../schriften/workSans-Bold.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    /* ALLGMEINE CSS ANPASSUNGEN */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #F8D6E7;
    }

    main{
        padding-bottom: 20vh;
    }

    h1 {
        font-family: 'workSans';
        font-weight: 500;
        font-size: 20vw;
        text-transform: uppercase;
        color: #F8D6E7;
        line-height: 0.8;
    }

    h2 {
        font-family: 'workSans';
        font-weight: 400;
        font-size: 5vw;
        text-transform: uppercase;
        color: #F8D6E7;
    }

    h3 {
        font-family: 'workSans';
        font-weight: 900;
        font-size: 3vw;
        text-transform: uppercase;
        color: #EB3D01;
    }

    p {
        font-family: 'workSans';
        font-weight: 400;
        font-size: 2.5vw;
        text-transform: uppercase;
        color: #EB3D01;
    }

    a {
        font-family: 'workSans';
        font-weight: 400;
        font-size: 1.5vw;
        text-transform: uppercase;
        color: #EB3D01;
        text-decoration: none;
    }

    /* NAVIGATION OBEN */

    .container_header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .container_logo {
        align-self: center;
    }

    .logo {
        width: 10vw;
    }

    .navigation {
        gap: 10vw;
    }

    /* NAVIGATION UNTEN - SLIDER/TOGGLE*/


    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* sicherstellen, dass es über dem Inhalt liegt */

    }

    .footer-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
    }

    .toggle-switch {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        background-color: #EB3D01;
        border-radius: 8vw;
        padding: 1vw;
        cursor: pointer;
        overflow: hidden;
    }

    .toggle-option {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        z-index: 2;
    }

    .toggle-option img {
        width: 30%;
        height: auto;
    }

    .toggle-slider {
        position: absolute;
        width: 30%;
        height: 100%;
        background-color: #F8D6E7;
        border-radius: 8vw;
        transition: left 0.3s ease-in-out;
        z-index: 1;
    }


    /*** kleiner PC / Tablet ***/
    @media screen and (max-width: 768px) and (min-width: 577px) {}

    /*** Handy  ***/
    @media screen and (max-width: 576px) {

        h1 {
            font-size: 40vw;
        }

        h2 {
            font-size: 10vw;
        }

        h3 {
            font-size: 6vw;
        }

        p {
            font-size: 5vw;
        }

        a {
            font-size: 3vw;
        }





    }